.outerContainer {
    background-color: #397097; /* Cor do fundo em toda a largura */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif;  

}

.topSide {
    max-width: 700px; 
    width: 100%; 
    background-color: #397097; 
    padding: 0px; 
    box-sizing: border-box; 
    /* text-align: center;  */
}