.container {
    width: 100%;
    max-width: 750px;  
    margin: 0 auto; 
    border-bottom: 2px solid #336588;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;  
}

/* Navbar */
.navbar {
    color: #ffffff;
    padding-block: 10px; 
}

/* Container interno */
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;  /* Alinha os itens verticalmente no centro */
}



.brandName {
    color: #ffffff;  /* Cor dos textos */
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 2px;
}

.navLink:hover, .navbarBrand:hover {
    color: #f8f9fa;  /* Cor do texto ao passar o mouse */   
}

.navItem {
    list-style: none;
    background-color: #4D7FA2;
    padding: 5px 10px;
    margin-right: 10px; /* Espaço entre os itens */
    display: flex;
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    height: 40px; /* Ajuste conforme necessário */
    border-radius: 5px; /* Adiciona cantos arredondados opcionalmente */
}

.navList {
    display: flex;
    justify-content: flex-start; /* Ajusta conforme necessário */
    align-items: center;
    padding: 0;
    margin: 0;
}

.navLink {
    color: #FFFFFF; /* Cor do texto */
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%; /* Assegura que o link ocupe toda a altura do item */
}

.Dropdown{
    background-color: #4D7FA2;  
    color: #FFF;
}

.Dropdown:hover{
    background-color: #336588;
    color: #FFF;
}