.custom-tabs {
  color: #ffffff;
  /* margin-top: -2.5rem; */
  border-color: #7ca1bb;
}

.custom-tabs .nav-link {
  color: #c7c7c7;
}

.custom-tabs .nav-link.active {
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  background-color: #336588;
  color: #ffffff;
  border-color: #7ca1bb;
}

.custom-tabs .nav-link:hover {
  color: #fff;
  border-style: solid;
  background-color: #336588;
  border-width: 1px 1px 0 1px;
  border-color: #7ca1bb;
}
